<div class="container text-center text-white" style="margin-top:80px;">
  <h1>Increment/Decrement</h1>
  <div class="d-flex justify-content-center btn btn-primary text-center" disabled>
    <input class="text-center btn-primary btn" style="font-size:50pt;font-weight:bold;" type="text" [value]="quantity" disabled>
  </div><br>
  <div class="container d-flex"> 
    <button class="btn btn-danger btn-lg d-inline" style="font-size:30pt;width:100%;" (click)="minus()">
      DECREMENT
    </button>&nbsp;
    <button class="btn btn-warning btn-lg d-inline" style="font-size:30pt;width:100%;" (click)="plus()">
      INCREMENT
    </button>
  </div>
</div>